<div class="container">
  <h1>Admin Page</h1>
</div>

  <% @all_users.each do |user| %>
    <div class="user_container" id="<%=user.id%>">
      <p class="profile_data">
        Name: <%= user.first_name %> <%= user.last_name %>
      </p>
      <p class="profile_data">
        Email: <%= user.email %>
      </p>
      <p class="profile_data">
        Age: <%= user.age %>
      </p>
      <p class="profile_data">
        Gender: <%= user.gender %>
      </p>
      <p class="profile_data">
        Bio: <%= user.bio %>
      </p>
      <a id="delete_button" class="nav_button" href="/profiles/<%=user.slug%>">Delete!</a>
    </div>
  <% end %>
